/deploy/
node_modules/
src/cyfs-stack-test-rust/unittest_nameobject/target/
src/cyfs-stack-test-rust/profile/target/
src/cyfs-tools/target/
/.history/
src/cyfs-stack-test-typescript/TestSuite/unittest_object_map/mochawesome-report

*.exe
src/cyfs-test-dec-app/testsuite/smoke-test/unittest_stack_ndn/mochawesome-report/mochawesome.html
src/cyfs-test-dec-app/testsuite/smoke-test/unittest_stack_ndn/mochawesome-report/mochawesome.html
*.zip
src/cyfs-test-dec-app/cyfs/cyfs_node.d.ts
src/cyfs-test-dec-app/cyfs/cyfs_node.js
src/cyfs-test-dec-app/cyfs/cyfs_node.js.map
src/node-tester-web/package-lock.json
