[Unit]
Description=SN miner rust

[Service]
ExecStart=/bin/bash /cyfs_server/sn_miner_start.sh
ExecStop=/bin/bash /cyfs_server/sn_miner_stop.sh
Restart = always
Type=forking
PrivateTmp=true

[Install]
WantedBy=multi-user.target
